html, body, img {	
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body { height: 100%; }

body {
	text-align: center;
	/*font-family: Roboto, Tahoma, Geneva, sans-serif;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	background-color: #E5E5E5;
	color: #ffffff;
}

a, a:link, a:visited, a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

.header {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 50px;
	z-index: 99;
	vertical-align: middle;
	text-align: left;
	line-height: 48px;
	font-size: 20px;
	background-color: #224958;
	background-image: -webkit-linear-gradient(top, #446A7A, #224958);
	-webkit-box-shadow: 0px 2px 3px #89959A;
	box-shadow: 0px 2px 3px #89959A;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.backArrow {
	float: left;
	width: 16px;
	font-size: 42px;
	line-height: 40px;
	color: #FFFFFF;
}

.headerBackLabel {
	font-size: 24px;
}

.headerBackLabel.ng-click-active {
	text-shadow: 0px 0px 3px #FFFFFF;
}

.content {
	z-index: 98;
	padding-top: 53px;
	padding-bottom: 4px;
}

.departementBtn {
	text-align: left;
	font-size: 24px;
	line-height: 36px;
	margin: 4px;
	padding: 4px;
	-webkit-border-radius: 4px;
	background-color: #224958;
	background-image: -webkit-linear-gradient(top, #224958, #446A7A);
	-webkit-box-shadow: 0px 2px 3px #89959A;
	box-shadow: 0px 2px 3px #89959A;
	text-shadow: 1px 1px #446A7A;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
}

.departementBtn.ng-click-active {
	background-color: #446A7A;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0px 0px 3px #FFFFFF;
}

.depDetails {
	font-size: 14px;
	line-height: 14px;
}

.menuArrow {
	float: right;
	font-size: 34px;
	line-height: 52px;
}

.mainWrap {
	padding-bottom: 60px;
}

.depHeader {
	background-color: #ffffff;
	color: #000000;
	margin: 4px;
	padding: 4px;
	font-size: 28px;
	-webkit-box-shadow: 0px 1px 3px #89959A;
	box-shadow: 0px 1px 3px #89959A;
}

.villeContainer {
	background-color: #ffffff;
	color: #000000;
	margin: 4px;
	-webkit-box-shadow: 0px 1px 3px #89959A;
	box-shadow: 0px 1px 3px #89959A;
}

.villeName {
	color: #ffffff;
	font-weight: bold;
	width: 100%;
	font-size: 18px;
	text-align: left;
	background-color: #224958;
	background-image: -webkit-linear-gradient(top, #224958, #446A7A);
}

.dropdownVille {
	border: 0px;
	outline: none;
	background-color: #224958;
	color: #ffffff;
	font-size: 20px;
	width: 96%;
	-webkit-box-shadow: 0px 1px 3px #89959A;
	box-shadow: 0px 1px 3px #89959A;
}

.dataTable {
	width: 100%;
	font-size: 16px;
}

.dataLabel {
	text-align: left;
}

.dataValue {
	text-align: right;
	font-weight: bold;
}

.overlay {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.bottomAdSpacer {
	height: 60px;
}

.bottomAd {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	height: 60px;
	width: 100%;
	text-align: center;
}

.mainMenuArrow {
	float: right;
	font-size: 34px;
	line-height: 32px;
}

.mainMenuImg {
	float: left;
	margin: 6px;
}

.strongVar, .varUp, .varDown {
	font-weight: bold;
}

.varUp {
	color: #00ff00;
}

.varDown {
	color: #ff0000;
}

.inputSearch {
	width: 96%;
	outline: none;
	background-color: #E5E5E5;
	background-image: -webkit-linear-gradient(top, #E5E5E5, #ffffff);
	color: #000000;
	-webkit-border-radius: 2px;
	border: 0;
	height: 42px;
	font-size: 24px;
	-webkit-box-shadow: 0px 0px 2px #ffffff;
}

.noResults {
	margin-top: 8px;
	font-size: 18px;
	color: #89959A;
}