<div class="depHeader" style="text-align: left;" scroll-up>
	<div>mobImmo (Ile-de-France)</div>
	<div style="font-size: 22px;">version 2.0.0</div>
	<div style="font-size: 22px;">Développé par Raphael Cohen</div>
</div>
<div class="depHeader" style="text-align: left; font-size: 18px;">
	Si vous appréciez cette application,
	ou si vous souhaitez soumettre des remarques ou des commentaires, n'hésitez pas
	à nous contacter.
</div>
<div class="departementBtn" ng-click="linkto('mailto:raphael.cohen@gmail.com?subject=mobImmo')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/contact.png" class="mainMenuImg" style="margin-top: 10px;" />
	<span>Nous contacter</span>
</div>
<div class="departementBtn" ng-click="shareApp()">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/share.png" class="mainMenuImg" style="margin-top: 10px;" />
	<span>Partager l'appli.</span>
</div>