<div class="departementBtn" ng-click="setLocation('/Departements/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/deps.png" class="mainMenuImg" />
	<span>Départements</span>
</div>
<div class="departementBtn" ng-click="setLocation('/Search/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/search.png" class="mainMenuImg" />
	<span>Recherche</span>
</div>
<div class="departementBtn" ng-click="setLocation('/Geoloc/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/locate.png" class="mainMenuImg" />
	<span>Ma Position</span>
</div>