<div class="departementBtn" ng-click="setLocation('/Departements/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/deps.png" class="mainMenuImg" style="margin-left: 10px; margin-right: 10px;" />
	<span>Départements</span>
</div>
<div class="departementBtn" ng-click="setLocation('/Search/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/search.png" class="mainMenuImg" />
	<span>Recherche</span>
</div>
<div class="departementBtn" ng-click="setLocation('/Geoloc/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/locate.png" class="mainMenuImg" />
	<span>Ma Position</span>
</div>
<div class="departementBtn" ng-click="setLocation('/About/')">
	<div class="mainMenuArrow">&#8250;</div>
	<img src="img/about.png" class="mainMenuImg" style="margin-left: 10px; margin-right: 10px;" />
	<span>A propos...</span>
</div>